*{
    /* box-sizing: border-box; */
    overflow-x: hidden;

    /* margin: 0; */
}
.intro{
  background-color: rgba(92, 215, 137, 0.495);
  font-size: larger;
  font-weight: bold;
  width: 100vw;
  /* align-items: center; */
}
#txt{
  /* display: flex; */
  /* flex-direction: row; */
  align-items: center;
  margin-bottom: 3%;
}
.intro img{
  width:5%;
  padding:0.2%;
  margin: 0.3%;
}
.upper{
    /* height: 50vh; */
    /* border:5px black solid; */
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction:row;
}
.tile{
    width:40%;
    /* border: 3px blue solid; */
    height: max-content;
    border-radius: 08%;
    /* justify-content: space-between; */
    margin: 1.5%;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.tile p{
    padding-top: 3%;
    font-weight: bolder;
    
}
.parent{
    display: flex;
    flex-direction: row;
}
#land_details{
    padding: 3%;
    justify-content: space-around;
    font-size: 25px;
    width:60%;
    /* border: #1d9a62 3px solid; */
    height: max-content;
    border-radius: 20px;
    margin: 2%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px ;
  }
  input[type=number] {
    width: 50%;
    padding: 10px;
    margin: 15px 0;
    overflow-y: hidden;
  }
  .out{
    margin-top: 2%;
    width:32%;
    border-radius: 25px;
    /* height: 75vh; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 4%;
  }
  #move{
    overflow-y: hidden;
    height: 50px;
    font-size:25px;

  }
  #pr{
    font-size: 30px;
  }
  @media(max-width:1036px){
    .parent{
        display: flex;
        flex-direction:column;
    }
    #land_details{
        width: 95vw;
    }
    .out{
        width: 95vw;
        height: 50vh;
    }

  }