*{
    box-sizing: border-box;

    /* margin: 0; */
}
.intro{
  background-color: rgba(92, 215, 137, 0.495);
  font-size: larger;
  font-weight: bold;
  /* align-items: center; */
}
#txt{
  /* display: flex; */
  /* flex-direction: row; */
  align-items: center;
  margin-bottom: 3%;
}
.intro img{
  width:5%;
  padding:0.2%;
  margin: 0.3%;
}
.upper{
    /* height: 50vh; */
    /* border:5px black solid; */
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction:row;
}
.tile{
    width:40%;
    /* border: 3px blue solid; */
    height: max-content;
    border-radius: 08%;
    /* justify-content: space-between; */
    margin: 1.5%;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.tile p{
    padding-top: 3%;
    font-weight: bolder;
    
}
.circular-progress {
    margin-top: 3%;
    position: relative;
    height: 220px;
    width: 210px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    z-index: -1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .circular-progress:before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #ffffff;
    border-radius: 50%;
  }
  .value-container {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    color: #1d9a62;
    font-weight: 900;
  }
.circular-progress1 {
    margin-top: 3%;
    position: relative;
    height: 220px;
    width: 210px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    z-index: -1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .circular-progress1:before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #ffffff;
    border-radius: 50%;
  }
  .value-container1 {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    color:  #1d9a62;
    font-weight: 900;
  }
.circular-progress2 {
    margin-top: 3%;
    position: relative;
    height: 220px;
    width: 210px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    z-index: -1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .circular-progress2:before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #ffffff;
    border-radius: 50%;
  }
  .value-container2 {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    color:  #1d9a62;
    font-weight: 900;
  }
  .lower{
    display: flex;
    flex-direction: row;
  }
  .left{
    width:30%;
    border-radius: 20px;
    /* border: #1d9a62 3px solid; */
    height: max-content;
    padding: 2%;
    margin: 2%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
  }
  .right{
    width:60%;
    /* border: #1d9a62 3px solid; */
    height: max-content;
    padding: 2%;
    border-radius: 20px;
    margin: 2%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .right img{
   width:45%;
  }
  #land_details{
    padding: 3%;
    margin: 2%;
    justify-content: space-around;
    font-size: 25px;
  }
  input{
    border: 0;

  }
  /* ------------------------- Footer----------------------------------------*/
footer .bottom-details {
  width: 100vw;
  background: #000;
  border-top: 0.5px solid #fff;
  margin-right: 0px;
  overflow-x: hidden;
}
footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin:0;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a {
  /* margin-right: 10px;*/
}  

@media(max-width:600px){
    .upper{
        flex-direction: column;
    }
    .tile{
        width: 100%;
    }
    .intro img{
      width: 15%;
    }
    .circular-progress {
        position: relative;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        z-index: -1;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      }
      .circular-progress:before {
        content: "";
        position: absolute;
        height: 84%;
        width: 84%;
        background-color: #ffffff;
        border-radius: 50%;
      }
      .value-container {
        position: relative;
        font-family: "Poppins", sans-serif;
        font-size: 50px;
        /* color: #231c3d; */
      }
    .circular-progress1 {
        position: relative;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        z-index: -1;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      }
      .circular-progress1:before {
        content: "";
        position: absolute;
        height: 84%;
        width: 84%;
        background-color: #ffffff;
        border-radius: 50%;
      }
      .value-container1 {
        position: relative;
        font-family: "Poppins", sans-serif;
        font-size: 50px;
        /* color: #231c3d; */
      }
    .circular-progress2 {
        position: relative;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        z-index: -1;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      }
      .circular-progress2:before {
        content: "";
        position: absolute;
        height: 84%;
        width: 84%;
        background-color: #ffffff;
        border-radius: 50%;
      }
      .value-container2 {
        position: relative;
        font-family: "Poppins", sans-serif;
        font-size: 50px;
        /* color: #231c3d; */
      }

}
@media(max-width:800px){
    .lower{
        flex-direction: column;
    }
    .left{
        width:100vw;
    }
    .right{
      width:100%;
    }
}
@media(max-width:450px){
  .tile,.left,.right{
    margin-left: 6.2%;
  }

}
@media(max-width:758px){
  .intro{
    width:117vw;
  }
  .intro img{
    width:13%;
  }
}
/* -------chatbot------ */
.container {
  --light-color: #fff;
  height: 420px;
  width: 350px;
  background: var(--light-color);
  position: fixed;
  bottom: 50px;
  right: 10px;
  box-shadow: 0px 0px 15px 0px black;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  
}
.collapsible {
  --light-color: #fff;
  height: 90px;
  width: 100px;
  background: var(--light-color);
  position: fixed;
  bottom: 50px;
  /* right: 10px; */
  left: 10px;
  box-shadow: 0px 0px 15px 0px black;
  background-color: #59df2c;
  color: white;
  cursor: pointer;
  padding: 18px;
  /* width: 100%; */
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}
.chat-header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  background-color: #2cd307;
  color: var(--light-color);
  font-size: 1.5rem;
  
}

.chat-header .logo {
  height: 35px;
  width: 35px;
  box-shadow: 0px 0px 10px 0px black;
}
.chat-header img {
  height: 100%;
  width: 100%;
}
.chat-header .title {
  padding-left: 10px;
}
.chat-body {
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
  align-items: flex-end;
  overflow-y: auto;
  justify-content: center;
}
.chat-input {
  height: 60px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
}
.input-sec {
  flex: 9;
}
.send {
  flex: 1;
  padding-right: 4px;
}
#txtInput {
  line-height: 30px;
  padding: 8px 10px;
  border: none;
  outline: none;
  caret-color: black;
  font-size: 1rem;
  width: 100%;
}

.chatbot-message,
.user-message {
  padding: 8px;
  background: #ccc;
  margin: 5px;
  width:auto;
  border-radius: 10px 3px 10px 10px;
}
.chatbot-message {
  background: #31c006;
  color: var(--light-color);
  align-self: flex-start;
  border-radius: 10px 10px 3px 10px;
}
button {
  font-family: monospace;
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: .3s;
}

button:hover {
  background-color: #ec2816;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}
